<h1>Chat Box</h1>
<div class="chat_container">
  <div id="chat_room">
    <p class="alert"> Welcome to the chat room! </p>
  </div>
 
  <form id="new_message_form">
    <input type="text" id="message" name="message">
    <input type="submit" value="Send">
  </form>
</div>

<script>	
	var pusher = new Pusher('c7d2e61c70b6ce88bb9b');
	var channel = pusher.subscribe('<%= @group.class.to_s+'-'+@group.slug %>');

	channel.bind("new-message", function(data) {
		console.log(data);
		$('#chat_room').append(data);
		  console.log('An event was triggered with message: ' + data);
	});
	
	$( "#new_message_form" ).submit(function( event ) {
		event.preventDefault();
		$.post( "/groups/<%= @group.slug %>/messages", {message: {body: $('#message').val()}}, function( data ) {
		  console.log(data)
		});
	});
</script>




