<div class="panel panel-primary">
	<div class="panel-heading">
<%- model_class = Task -%>
	<div class="page-heading">
	  <h2><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h2>
	</div>
</div>
</div>
<%= render :partial => 'form' %>
