#group {
  #group_tasks {
    .list-group-item {
      .subject {
        font-weight: bold;
      }
      .due_date {
        float: right;
      }
    }
  }
  #chat_room {
  	max-height: 200px;
  	overflow-y: scroll;
  	.message {
  		line-height: 25px;
  		.time-body {
  			font-weight: bold;
  			font-size: 75%;
  			color: #0000FF;
  		}
  		.author {
  			color: #0000FF;
  			font-weight: bold;	
  		}
    }
  }
}
#group {
	.avatar {
		width: 28px;
		float: left;
		padding-right: 8px;
	}
}